@model LiveCrowding

<div>
	<link rel="stylesheet" type="text/css" href="/css/site.css" />
	<h1>Live Crowding Data</h1>
	<div class="legend">
		<p4 style="color: green;">Minimal Crowding:  0 - 33</p4>
		<p4 style="color: grey;">Moderate Crowding:  34 - 66</p4>
		<p4 style="color: red;">Heavy Crowding:  67 - 100</p4>
	</div>
	


	<h5>Current Crowding:</h5>
	@if(@Model.percentageOfBaseLine <= 0.33)
	{
		<p style="color: green;">Minimal Crowding - @Model.percentageOfBaseLine.ToString("n4")</p>
	}
	else if (@Model.percentageOfBaseLine > 0.33 && @Model.percentageOfBaseLine <=.66)
	{
		<p style="color: grey;">Moderate Crowding - @Model.percentageOfBaseLine.ToString("n4")</p>
	}

	else if (@Model.percentageOfBaseLine > 0.66)
	{
		<p style="color: red;">Heavy Crowding</p>
	}

</div>
